:root{
	--color1:red;
	--color2:#2E7ED3;

}
html{
	margin: 0;
	padding: 0;

}
body 
{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    height: 750px;
    min-height: 750px;   	
    background-size: 100%;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;

}

.intro{
	color: white;
	text-align: center;
	margin-top: 0px;
}
.btn-info{
	margin: 10px 0 ;
}
.intro > h1{
	font-family: Lobster;
	font-size: 90px;
	text-shadow: 2px 2px 4px #000000;
}
.intro > p{
	margin-top: 40px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	text-shadow:0px 0px  8px rgba(255,255,255,1),0px 0px  16px rgba(255,255,255,1);
	color: var(--color2);
	
}
.semi1 h4
{
	color: var(--color1);
	font-family: Acme;
	font-size:70px;
	text-shadow: 2px 2px rgba(0,0,55,0.6);
}
.row h4{
	font-size:30px;
}
.semi1{
	text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: var(--color1);
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: var(--color1);
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
}
.nav-pills > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-pills {
	margin-top: 40px;
    text-align:center;
}
.bel{
	margin-top: 40px;
	width: 100%;
	border-color: #eee;
	border-radius: 10px;
}
.tab-pane{
	margin: auto;
	width: 90%;
}
.row{
	background-color: white;
	border-radius: 10px;
	width: 100%;
	
	padding: 20px;
        overflow: hidden;
}
.text-logo{
	font-family: 'Acme',sans-serif;
	color:var(--color2);
	text-shadow: 0px 0px  3px white, 0px 0px 8px white, 0px 0px 16px white;
	font-size: 50px;
	padding: 40px 0px;
	text-align: center;
}
.admin>.row>h1{
	font-family: Acme;
}
.btn.btn-success.btn-lg
{
	float: right;
	margin: 0 10px;

}	
table {
    width: 100%;   
    border-collapse: collapse;
}
th,td{
    word-wrap: break-word;
}
.nav.navbar-nav.navbar-right>li>a:link,
.nav.navbar-nav.navbar-right>li>a,
.nav.navbar-nav.navbar-right>li>a:visited,
.nav.navbar-nav.navbar-right>li>a:hover,
.nav.navbar-nav.navbar-right>li>a:active {
  background-color: inherit;
}
.hoho{
	margin-top: 120px;
}

.line{
	display: flex;

}
.line form{
	margin-left: 100px;
}

.line .btn{
	margin: 10px 0;

}

@media 
only screen and (max-width: 1060px),
(min-device-width: 968px) and (max-device-width: 1024px) {
	.line{
		display: block;
	}
}



@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table{
		margin-top: 100px;
	}
	.batbat>a{
		padding:5px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.line{
		display: block;
	}
	.line form{
		margin-left: 100px;
		 
	}
	
	/*
	Label the data
	*/
	
}